@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');


html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #2e3736 url(../images/cave.jpeg) repeat-x bottom;
  width: 100vw;
  height: 100vh;
}

canvas{
  z-index: 1;
  background: #2f3736;
  z-index: 1;
  width: 100vw;
}

body > * {
  font-family: 'Sen', sans-serif;
  font-weight: 800;
}

body h1 {
  font-size: 30px;
  text-transform: uppercase;
}

body button {
  font-size: 20px;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  position: absolute;
  z-index: 90000;
  margin: 30px auto;
}
